<h3>Appointment Edit</h3>
<%= link_to "Back to Dashboard", stylist_path(current_user.id) %>

<% form_with model: @apps, url: edit_client_appointment_path do |a| %>
    <%= a.text_field :date %>
<% end %>

