<h3>Create New Appointment</h3>

<%= form_with model: @app, url: client_appointment_index_path do |a| %>
   
    
    

    <%= a.label :date %>
    <%= a.text_field :date %><br><br> 
  
    <%= a.submit %> 

    <% end %>
