<h1> Clients </h1>
<%= link_to "Back to Dashboard", stylist_path(current_user.id) %> <br>
<% @clients.each do |client| %>
    <ul><%= link_to client.name, client_path(client) %></ul> 
    <% end %>
    